<p id="notice"><%= notice %></p>

<h1>Listing System Users</h1>

<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Identification</th>
        <th>Dob</th>
        <th>Sex</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Description</th>
        <th>Type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @system_users.each do |system_user| %>
        <tr>
          <td><%= system_user.firstname %></td>
          <td><%= system_user.lastname %></td>
          <td><%= system_user.identification %></td>
          <td><%= system_user.dob %></td>
          <td><%= system_user.sex %></td>
          <td><%= system_user.address %></td>
          <td><%= system_user.contact %></td>
          <td><%= system_user.email %></td>
          <td><%= system_user.description %></td>
          <td><%= system_user.type %></td>
          <td><%= link_to 'Show', system_user %></td>
          <td><%= link_to 'Edit', edit_system_user_path(system_user) %></td>
          <td><%= link_to 'Destroy', system_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New System user', new_system_user_path %>

</div>
