<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @appointment.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @appointment.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @appointment.comment %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<% if current_user %>
<%= link_to 'Back', appointments_path %>
<% else %>
<%= link_to 'Back', root_path %>
<% end %>



